{% extends "chat50/layout.html" %}

{% block body %}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            {% if not user.is_authenticated %}
                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            {% if message %}
                            <div><u>{{ message }}</u></div>
                            {% endif %}

                            <p class="text-white-50 mb-5">Please enter your login and password!</p>
                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <div class="form-outline form-white mb-4">
                                    <input autofocus class="form-control" type="text" name="username"
                                        placeholder="Username">
                                </div>

                                <div class="form-outline form-white mb-4">

                                    <input class="form-control" type="password" name="password" placeholder="Password">
                                </div>

                                

                                <input class="btn btn-primary" type="submit" value="Login">
                            </form>

                            {% else %}
                            <h2 class="fw-bold mb-2 text-uppercase">You're already logged in buddy :).</h2>
                            <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="{% url 'logout' %}">Logout?</a>
                            </p>
                            {% endif %}

                        </div>

                        {% if not user.is_authenticated %}
                        <div>
                            <p class="mb-0">Don't have an account? <a href="{% url 'register' %}"
                                    class="text-white-50 fw-bold">Sign Up</a></p>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}